// on 0.5s bigger, than setTimeout arg
$deleteSeconds: 1s;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

.cardlist-item {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

.todocard-item {
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

.todocard-item:hover {
  cursor: pointer;
  background: rgb(247, 247, 247);
  transition: background $deleteSeconds ease;
}

.card-done-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-head {
  text-align: "center";
  margin-bottom: 6px;
}

.card-head-iconblock {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-createdblock {
  color: gray;
  text-align: center;
}

.card-title {
  text-align: center;
}

.card-description {
  max-width: fit-content;
  hyphens: auto;
  text-align: center;
}

.card-deletebtn {
  position: absolute;
  z-index: 50;
  scale: 2;
  margin-left: 45pt;
  margin-top: -20pt;
  color: rgb(201, 201, 201);
}
