// on 0.5s bigger, than setTimeout arg
$deleteSeconds: 1s;

.cardlist-item {
  list-style-type: none;
}

.todocard-item {
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

.todocard-item:hover {
  cursor: pointer;
  background: rgb(247, 247, 247);
  transition: background $deleteSeconds ease;
}

.card-done-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-head {
  text-align: "center";
  margin-bottom: 6px;
}

.card-head-iconblock {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-createdblock {
  color: gray;
  text-align: center;
}

.card-title {
  text-align: center;
}

.card-description {
  max-width: fit-content;
  hyphens: auto;
}

.card-deletebtn {
  text-align: center;
  color: gray;
}
