.new-todo-label {
  font-family: monospace;
  font-weight: 700;
  font-size: 1.8rem;
  background-color: #2e7d32;
  color: white;
  padding: 10px;
}

.form-wrapper {
  border: 15px solid #2e7d32;
  display: inline-block;
  padding: 24px;
}
